[submodule "kernel"]
	path = kernel
	url = https://github.com/HoneyOS-Foundation/kernel.git
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/HoneyOS-Foundation/bootloader.git
[submodule "hapi"]
	path = hapi
	url = https://github.com/HoneyOS-Foundation/hapi.git
